header{
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  background-color: white;

  .menu{
    width: 1.5rem;
    height: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3125rem 0;
    border-right: 1px solid #a7a7a7;

    .icon-htmal5icon35:before {
      font-size: 32px;
      content: "\E647";
      color: #4a4a4a;
    }
  }

  .date{
    display: flex;
    flex-direction: column;
    width: 1.7rem;
    height: 1.1rem;
    margin: 10px 0;
    border-right: 1px solid #a7a7a7;

    div{
      text-align: center;
    }
    .d{
      font-size: 0.5rem;
      font-weight: 600;
      color: #4a4a4a;
    }
    .m{
      font-size: 0.35rem;
      color: #4a4a4a;
      font-weight: 500;
    }
  }

  .life-tips{
    font-size: 24px;
    font-weight: 600;
    padding-left: 0.375rem;
  }

  .heads-pic{
    // align-self: flex-end;
    margin-left: auto;
    margin-right: 0.375rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #464646;
    border-radius: 50%;

    .icon-zhihu{
      display: block;
      padding: 3px;
      font-size: 18px;
    }
  }
}